.paymont-status-block.Inprogress {
    background-color: #fff5ec;
    color: #fb923c;
    padding: 4px 10px;
}

.paymont-status-block.Failed {
    color: #ef4444;
    background-color: #ff004d1a;
    padding: 4px 10px;
}

.paymont-status-block.Settled {
    background-color: #22c55e1a;
    color: #22c55e;
    padding: 4px 10px;
}


.payout-Ticket-Datails-container {
    position: relative;
}

.payout-Ticket-Datails {
    display: flex;
    justify-content: space-between;
}

.payout-Ticket-Datails-input {
    width: 159px;
    height: 35px;
    padding: 10px;
    outline: none;
}

.payout-Ticket-Datails-input:focus {
    border: black;
    outline: none;
}


.payout-container {
    width: 550px;
}

.payout-mark-btn {
    margin-right: 16px;
    margin-top: -30px;
}

.payout-Ticket-Datails-Button {
    text-transform: none !important;
    color: #fff !important;
    border-radius: 0px !important;
    background-color: #5d75f8 !important;
    padding: 10px 29px !important;
    font-family: Glegoo, serif !important;
    margin-bottom: 10px !important;
}

.invoice-order-summary {
    background-color: #F3F4F6;
    border-radius: 0px !important;
    padding: 14px;
    margin-bottom: 8px;
}

.invoice-dialog-actions {
    padding-right: 24px !important;
    margin-top: -30px !important;
}

.invoice-download-btn {
    background-color: #5d75f8 !important;
    color: #fff;
    border-radius: 0px !important;
    padding: 10px 29px !important;
    font-family: Glegoo, serif !important;
    font-size: 16px !important;
    text-transform: none !important;
}

.sold-price-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #374151,
}

.sold-price-list {
    min-width: 60px;
    text-align: center;
    padding-right: 20px;
}

.sold-price-divider {
    border-left: 1px solid #E5E7EB;
    height: 24px;
    margin-right: 12px;
}

.soldPrice-item {
    min-width: 60px;
    text-align: right;
    padding-right: 16px;
}

.soldPrice-divider {
    border-left: 1px solid #e5e7eb;
    height: 24px;
    margin-right: 12px;
}

.soldPrice-icon {
    height: 20px;
    width: 20px;
}

.invoice-icon.inprogress {
    filter: grayscale(100%);
    opacity: 0.7;
  }