.paymont-status-block.Inprogress {
    background-color: #fff5ec;
    color: #fb923c;
    padding: 4px 10px;
}

.paymont-status-block.Failed {
    color: #ef4444;
    background-color: #ff004d1a;
    padding: 4px 10px;
}

.paymont-status-block.Settled {
    background-color: #22c55e1a;
    color: #22c55e;
    padding: 4px 10px;
}


.Payout-Ticket-Datails-container {
    position: relative;
}

.Payout-Ticket-Datails {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.Payout-Ticket-Datails-input {
    width: 159px;
    height: 35px;
    padding: 10px;
    outline: none;
}

.Payout-Ticket-Datails-input:focus {
    border: black;
    outline: none;
}

.Payout-Ticket-Datails-Button {
    text-transform: none !important;
    color: #B9BDC6 !important;
    border-radius: 0px !important;
}




.soldPrice-container {
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  
  .soldPrice-item {
    min-width: 60px;
    text-align: right;
    padding-right: 16px;
  }
  
  .soldPrice-divider {
    border-left: 1px solid #e5e7eb;
    height: 24px;
    margin-right: 12px;
  }
  
  .soldPrice-icon {
    height: 20px;
    width: 20px;
  }
  