.MuiDataGrid-root {
  border: none !important;
  scrollbar-width: thin;
  scroll-padding: 5px !important;
  font-family: 'glegoo', serif !important;
}

.MuiDataGrid-columnHeader {
  border-bottom: none !important;
  background-color: #f9f9fa !important;
  cursor: default !important;
}

.MuiDataGrid-cell {
  border-right: none !important;
  border-bottom: none !important;
  border-top: none !important;
  color: #475569;
  font-weight: 700 !important;
}


.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus {
  outline: none !important;
}

.MuiDataGrid-columnSeparator {
  display: none !important;
}


.MuiDataGrid-checkboxInput:hover {
  background: none !important;
}

.dataGrid-container {
  width: 100% !important;
  overflow-x: auto !important;
}

.validate-custom-select {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.MuiDataGrid-cell {
  white-space: normal !important;
}

.MuiDataGrid-row:hover:nth-of-type(odd) {
  background-color: white !important;
}

.MuiDataGrid-row:hover:nth-of-type(even) {
  background-color: #f9f9fa !important;
}

.MuiDataGrid-row:nth-of-type(odd) {
  background-color: #ffffff;
}

.pagination-block {
  background-color: #ffffff;
}


.MuiPaginationItem-root {
  color: rgba(0, 0, 0, 0.87) !important;
  border-radius: 0px !important;
  border: 1px solid #e3e5e8 !important;
  background-color: #fff !important;
}

.MuiPaginationItem-root.Mui-selected {
  background-color: rgb(93, 117, 248) !important;
  color: white !important;
}

.MuiPaginationItem-ellipsis {
  border: none !important;
}

.MuiPaginationItem-root:hover {
  background-color: #d6e2ff !important;
}

.pagination-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.show-text {
  font-size: 16px;
  margin-right: 4px;
}

.page-size-select {
  width: 70px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
}

.column-header {
  display: flex;
  align-items: center;
  color: #9CA3AF;
  font-weight: 700 !important;
  cursor: pointer;
}

.column-header-non-sorting {
  color: #9CA3AF;
  font-weight: 700 !important;
}

.column-header:hover {
  color: rgba(0, 0, 0, 0.6) !important;
}

.sort-icon {
  width: 7px;
  margin-left: 7px;
  transition: transform 0.3s ease;
}

.MuiDataGrid-cell:focus-within {
  outline: none !important;
  background-color: transparent !important;
}

.custom-grid-wrapper.empty-data .MuiDataGrid-virtualScrollerContent {
  flex-basis: 0 !important;
}

.No-data-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  font-size: 19px;
  font-family: glegoo, sans-serif;
  font-weight: 300;
}


@media (max-width: 768px) {
  .pagination {
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .pagination-block {
    align-items: flex-end !important;
    gap: 10px;
  }
}