.password-dialog {
    padding: 10px;
}

.change-password-headder {
    display: flex;
    justify-content: space-between;
}

.change-password-actions {
    margin-right: 15px;
    margin-top: -15px;
    margin-bottom: 5px;
}

.old-password-container,
.new-password-container,
.confirm-password-container {
    position: relative;
    margin-bottom: 15px;
}

.old-password-container>input,
.new-password-container>input,
.confirm-password-container>input {
    width: 100%;
    height: 50px;
    border: 1px solid #cad2df;
    border-radius: 0px;
}

.old-password-container>input::placeholder,
.new-password-container>input::placeholder,
.confirm-password-container>input::placeholder {
    color: #B9BDC6 !important;
    font-family: glegoo, sans-serif !important;
}

.input-field {
    width: 100%;
    padding: 10px 35px 10px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-field.error {
    border-color: red;
    border: 1px solid red;
}

.input-field:focus {
    outline: none;
    border-color: #9CA3AF;
    border: 1px solid rgb(156, 150, 150);
}

.old-password-container span,
.new-password-container span,
.confirm-password-container span {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #aaa;
}

.change_password_h3 {
    color: #0f172a !important;
    font-weight: 700 !important;
    font-family: Playfair Display, serif !important;
    font-size: 24px !important;
}

.change_password_h5 {
    color: #9ca3af !important;
    font-family: 'Glegoo', serif !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}

.error-message {
    color: red;
    font-size: 11px;
    margin-top: -5px;
}

.password-reset-btn {
    font-size: 16px !important;
    text-transform: none !important;
    border-radius: 0px !important;
    color: #151A34 !important;
    width: 117px;
    height: 44px;
    font-family: 'Glegoo', serif !important;
    font-weight: 700 !important;
    background-color: #F3F4F6 !important;
    border: none !important;
}

.password-apply-btn {
    font-size: 16px !important;
    text-transform: none !important;
    border-radius: 0px !important;
    width: 117px;
    height: 44px;
    font-family: 'Glegoo', serif !important;
    background-color: #5D75F8 !important;
}

@media (max-width: 768px) {
    .change-password-actions {
        display: flex !important;
        align-items: flex-end;
        gap: 5px;
    }

    .password-reset-btn,
    .password-apply-btn {
        width: 33% !important;
        font-size: 12px !important;
    }

    .dialog-content {
        font-size: 12px !important;
    }

    .old-password-container input,
    .new-password-container input,
    .confirm-password-container input {
        width: 100%;
        height: 45px;
        padding: 8px;
        margin-bottom: 8px;
        font-size: 12px;
    }

    .error-message {
        font-size: 9px;
        margin-top: -4px;
    }

    .change_password_h3 {
        font-size: large !important;
    }

    .change_password_h5 {
        font-size: x-small !important;
    }
}