.header-appBar {
  background-color: #FFFFFF !important;
  height: 77px;
  box-shadow: none !important;
  border-bottom: 1px solid #E3E5E8;
}


.dialog-content {
  color: #9ca3af !important;
  padding: 0 0!important;
  font-family: glegoo, sans-serif !important;
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}

.header-searchIcon {
  color: #B9BDC6;
}

.header-userBox {
  display: flex;
  align-items: center;
}

.header-iconButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-iconButton:hover {
  background-color: transparent;
}

.header-accountIcon {
  color: #D9D9D9;
  font-size: 50px !important;
  margin-right: 8px;
}

.header-username {
  color: #333;
  font-size: 14px !important;
  font-weight: 700 !important;
  font-family: 'glegoo', serif !important;
  text-overflow: ellipsis;
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.header-menu {
  margin-top: -7px;
}

.header-menuPaper {
  min-width: 230px !important;
  font-size: 16px;
}

.header-menuItem {
  color: #475569 !important;
  font-family: 'glegoo', serif !important;
  font-size: 14px !important;
  margin-bottom: 20px !important;
}

.header-menuItem:hover {
  background-color: transparent !important;
}

.header-menuIcon {
  color: #B9BDC6;
}

.header-search {
  position: relative;
  width: 342px;
  height: 44px;
  background-color: #F3F4F6;
}

.header-searchIconWrapper {
  padding: 12px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.header-searchInput {
  color: black;
  width: 100%;
  font-family: 'glegoo', serif !important;
  font-size: 14px !important;
  padding: 8px;
  padding-left: 44px;
  border: none;
  outline: none;
  background: transparent;
}

.change-password-headder {
  display: flex;
  justify-content: space-between;
}

.change-password-actions {
  margin-right: 15px;
  margin-top: -15px;
  margin-bottom: 5px;
}

.old-password-container>input {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #cad2df;
  border-radius: 0px;
}

.old-password-container>input::placeholder {
  color: #B9BDC6 !important;
  font-family: glegoo, sans-serif !important;
}

.new-password-container>input {
  border-radius: 0px;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #cad2df;
}

.new-password-container>input::placeholder {
  color: #B9BDC6 !important;
  font-family: glegoo, sans-serif !important;
}

.confirm-password-container>input {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #cad2df;
  border-radius: 0px;
}

.confirm-password-container>input::placeholder {
  color: #B9BDC6 !important;
  font-family: glegoo, sans-serif !important;
}

.Change_password_h3 {
  color: #0F1753 !important;
  font-weight: 700;
  font-family: 'Glegoo', serif !important;
  font-size: 24px !important; 
}

.Change_password_h5 {
  color: #9ca3af !important;
  font-family: 'Glegoo', serif !important;
  font-size: 14px;
  
}

.password-change-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -5px;
}

.password-reset-btn {
  font-size: 16px !important;
  text-transform: none !important;
  border-radius: 0px !important;
  color: #151A34 !important;
  width: 117px;
  height: 44px;
  font-family: 'Glegoo', serif !important;
  font-weight: 700 !important;
  background-color: #F3F4F6 !important;
  border: none !important;
}

.password-apply-btn {
  font-size: 16px !important;
  text-transform: none !important;
  border-radius: 0px !important;
  width: 117px;
  height: 44px;
  font-family: 'Glegoo', serif !important;
  border: none;
  background-color: #5D75F8 !important;
}


@media (max-width: 1024px)  {
  .header-search {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .header-appBar {
    max-width: 100%;
  }

  .header-toolbar {
    font-size: 12px !important; 
    padding: 8px 0; 
  }

  .header-username {
    font-size: 12px !important; 
    max-width: 70px; 
  }


  .header-menuItem {
    font-size: 12px !important; 
  }

  .header-accountIcon {
    font-size: 40px !important; 
  }

  .password-dialog {
    
    padding: 10px;
  }

  .old-password-container input,
  .new-password-container input,
  .confirm-password-container input {
    width: 100%;
    height: 45px; 
    padding: 8px;
    margin-bottom: 8px;
  }

  .error-message {
    font-size: 10px;
    margin-top: -4px;
  }

  .password-change-actions {
    flex-direction: column; 
    gap: 8px;
    margin-top: 12px;
  }

  .password-reset-btn,
  .password-apply-btn {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }

  .header-avatar {
    padding: 2px; 
    width: 20px;
    height: 20px;
  }
  .header-username {
    display: none;
  }
}


.new-password-container,
.old-password-container,
.confirm-password-container {
  position: relative; 
}

.input-field {
  width: 100%;
  padding: 10px 35px 10px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-field.error {
  border-color: red;
  border: 1px solid red;
}

.new-password-container span,
.old-password-container span,
.confirm-password-container span {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #aaa;
}

.input-field:focus {
  outline: none;
  border-color: #9CA3AF;
  border: 1px solid rgb(156, 150, 150);
}

.header-avatar {
  padding: 2px; 
  width: 50px;
  height: 50px;
  border: 1px solid #B9BDC6;
  border-radius: 50%;
  cursor: pointer
}