.header-appBar {
  background-color: #FFFFFF !important;
  height: 77px;
  box-shadow: none !important;
  border-bottom: 1px solid #E3E5E8;
}


.Dialog-content {
  color: #9ca3af !important;
  padding: 0 10px;
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}

.header-searchIcon {
  color: #B9BDC6;
}

.header-userBox {
  display: flex;
  align-items: center;
}

.header-iconButton:hover {
  background-color: transparent;
}

.header-accountIcon {
  color: #D9D9D9;
  font-size: 50px !important;
  margin-right: 8px;
}

.header-username {
  color: #333;
  font-size: 14px !important;
  font-weight: 700 !important;
  font-family: 'glegoo' !important;
  text-overflow: ellipsis;
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.header-menu {
  margin-top: -7px;
}

.header-menuPaper {
  min-width: 230px !important;
  font-size: 16px;
}

.header-menuItem {
  color: #475569 !important;
  font-family: 'glegoo' !important;
  font-size: 14px !important;
  margin-bottom: 20px !important;
}

.header-menuItem:hover {
  background-color: transparent !important;
}

.header-menuIcon {
  color: #B9BDC6;
}

.header-search {
  position: relative;
  width: 342px;
  height: 44px;
  background-color: #F3F4F6;
}

.header-searchIconWrapper {
  padding: 12px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.header-searchIcon {
  color: #B9BDC6;
}

.header-searchInput {
  color: black;
  width: 100%;
  font-family: 'glegoo' !important;
  font-size: 14px !important;
  padding: 8px;
  padding-left: 44px;
  border: none;
  outline: none;
  background: transparent;
}


.old-password-container>input {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #cad2df;
}

.new-password-container>input {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #cad2df;
}

.confirm-password-container>input {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #cad2df;
}

.Change_password_h3 {
  color: #0F1753;
  font-weight: 700;
  font-family: glegoo;
}

.Change_password_h5 {
  color: #9ca3af;
  font-family: glegoo;
}

.password-change-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.input-field:focus {
    border: 1px solid rgb(156, 150, 150);
    outline: none;
}

.input-field.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -5px;
}

.password-reset-btn {
  font-size: 16px !important;
  text-transform: none !important;
  border-radius: 0px !important;
  color: black;
  width: 95px;
  height: 44px;
  font-family: 'Glegoo' !important;
  font-weight: 600 !important;
  background-color: #f3f4f6 !important;
}

.password-apply-btn {
  font-size: 16px !important;
  text-transform: none !important;
  border-radius: 0px !important;
  width: 95px;
  height: 44px;
  font-family: 'Glegoo' !important;
  border: none;
}



@media (max-width: 768px) {
  .header-appBar {
    max-width: 100%;
  }

  .header-toolbar {
    font-size: 12px !important; 
    padding: 8px 0; 
  }

  .header-username {
    font-size: 12px !important; 
    max-width: 70px; 
  }


  .header-menuItem {
    font-size: 12px !important; 
  }

  .header-accountIcon {
    font-size: 40px !important; 
  }
}